<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true">

    <property resource="application.properties" />
    <shutdownHook class="ch.qos.logback.core.hook.DelayingShutdownHook" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{HH:mm:ss} %-5level %logger - %msg%n
            </Pattern>
        </encoder>
    </appender>
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>
